<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar.ejs') %>
    <div class="create-message-container">
        <a href="/create">Create New Message</a>
    </div>
    <div class="main-container">
        <% if (user.membership_status) {%>
            <% allMessages.forEach(message => {%>
                <div class="message">
                    <div class="messag-info">
                        <h3 class="username">
                            <%=message.user.username%>
                        </h3>
                        <p class="date">
                            <%=message.date%>
                        </p>
                    </div>
                    <div class="message-title">
                        <%=message.title%>
                    </div>
                    <div class="message-text">
                        <%=message.message%>
                    </div>
                </div>
            <%});%>
        <%} else {%>
            <% allMessages.forEach(message => {%>
                <div class="message">
                   <div class="message-title">
                        <%=message.title%>
                   </div>
                   <div class="message-text">
                        <%=message.message%>
                   </div>
                </div>
                <%}); %>
            <%}%>
    </div>
</body>
</html>